*{
    margin: 0;
    padding:0;
}
body{
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    height: 600px;
}
.fbody{
    width: 334px;
    height: 340px;
    background-color:rgba(0,0,0,0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    padding: 15px;
    border:none;
    border-radius:8px;
    box-shadow: 6px 10px 23px 5px rgba(0,0,0,0.5);
}
.fbody h2{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.fbox{
    width: 90%;
    height: 40px;
    margin: 6px;
    border: none;
    border-radius: 10px;
}
.fbox:focus{
    outline: 1px solid red;
}
::placeholder{
    color: silver;
    padding-left: 8px;
    opacity: 0.7;
    border: none;
}
input{
     padding-left: 10px; 
}
.btn1{
 width: 60%;
 height:30px;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 margin: auto;
 margin-bottom: 47px;
 position: absolute;
 padding: 6px;
 border: 1px solid  #02c8f2;
 ;
 border-radius: 25px;
 text-align: center;
 background-color:#02c8f2;
 
    
}
.btn1 a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.btn1:hover{
    background-color:#c46673 ;
    border: none;
    transition: 2s;
   
}
.btn1 a:hover{
    color: #fff;
    transition: 2s;
}
